<section class="courses">
    <h1>Take a Look at Our Courses</h1>
    <div class="grid">
        <% coursesArr.forEach(course =>{ %>
            <div class="grid-item">
                <h3><%= course.courseName %></h3>
                <p><%= course.title %></p>
                <span>Price: <%= course.price %>$</span>
                <% if(course.completed){ %>
                    <span class="status">You already purchased this course</span>
                <% }else{ %>
                    <a href="/course/<%= course.id %> ">Read</a>
                <% } %>
            </div>
        <% }) %>
    </div>
</section>
